@media (prefers-color-scheme: dark) {
  body,
  textarea,
  select,
  select > option:hover {
    background-color: #0f1419;
    color: #e6e1cf;
  }

  select {
    color: #e6e1cf;
  }
}

@media (prefers-color-scheme: light) {
  body,
  textarea,
  select,
  select > option:hover {
    background-color: #fafafa;
  }

  select {
    color: #0f1419;
  }
}
